<div class="container" style="margin-top: 70px;">

    <div class="row justify-content-center mt-5 p-5" >
      <%= image_tag("youmind_logo", size: "350x350") %>
    </div>
    <div class="row justify-content-center mt-5">
      <% if doctor_signed_in? %>
        <% path = doctor_patients_path %>
      <% elsif patient_signed_in? %>
        <% path = dashboard_path %>
      <% else %>
        <% path = root_path %>
      <% end %>
      <%= link_to path do %>
<!--        <h2 class="card-text font-weight-bold text-center mb-2 p-2" style="background-color: white; border-radius: 32px;">Getting started</h2>-->
        <p class="btn btn-primary">Getting started</p>
      <% end %>
    </div>
    <div class="row justify-content-center mt-5 p-5" >
      <h1>Why YouMind</h1>
    </div>
    <div class="row justify-content-around mb-5" >

      <div class="card mb-3" style="width: 18rem;">
        <i class="col-12 col-lg-4 text-center fas fa-laptop-medical fa-9x mt-5 p-5"></i>
        <div class="card-body">
          <p class="card-text">Remote following via Video & Chat</p>
        </div>
      </div>

      <div class="card mb-3" style="width: 18rem;">
        <i class="col-12 col-lg-4 text-center fas fa-hand-holding-medical fa-9x mt-5 p-5"></i>
        <div class="card-body">
          <p class="card-text">Online prescriptions & reports</p>
        </div>
      </div>

      <div class="card mb-3" style="width: 18rem;">
        <i class="col-12 col-lg-4 text-center fas fa-file-medical-alt fa-9x mt-5 p-5"></i>
        <div class="card-body">
          <p class="card-text">Live consultation booking</p>
        </div>
      </div>
    </div>

</div>

